.formLogin__input{
    width: 20em;
    height: 3em;
    border-radius: 5px;
    border-color: silver;
    font-family: 'Poppins';
    font-size: large;
    border-width: 2px;
    border-style: solid;
    display: flex;
    margin: 1% auto;
}

.formLogin__checkbox{
    width: 2em;
}