.navbar{
    display: flex;
    padding: 0% 3%;

    a{
        margin-right: 10%;
        margin-left: 5%;
        text-decoration: none;
        color: rgb(43, 43, 43);

        &:hover{
            color: rgb(196, 196, 196);
        }
    }
}

